<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
        <title>
            Damn Vulnerable Flask App
        </title>
        <link href="https://spiderpig86.github.io/Cirrus/res/cirrus.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <body>
          <div class="header header-fixed unselectable header-animated">
              <div class="header-brand">
                  <div class="nav-item no-hover">
                      <a href="/"><h6 class="title">DVFA</h6></a>
                  </div>
              </div>
          </div>

          <div class="hero fullscreen">
              <div class="hero-body u-center">
                  <div class="w-90" style="position: relative">
                      <div class="row level">
                          <div class="frame col-12">
                        <div class="frame__header">
                            <div class="tile level">
                                <div class="tile__icon">
                                    <figure class="avatar">
                                        <img src="https://owasp.org/assets/images/logo.svg">
                                    </figure>
                                </div>
                                <div class="tile__container">
                                    <p class="tile__title no-margin">OWASP Top 10</p>
                                    <p class="tile__subtitle no-margin">{{ date }}</p>
                                </div>
                            </div>
                        </div>
                          <div class="frame__body">
                              <ul class="menu">
                                  <li class="divider"></li>
                                  <li class="menu-item">
                                      <a href="/graphql">Injection</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/graphql">Broken Authentication</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/graphql">Sensitive Data Exposure</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/upload">XML External Entities</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/graphql">Broken Access Control</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/graphql">Security Misconfiguration</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/upload">Cross Site Scripting</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/">Insecure Deserialization</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/upload">Using Components with Known Vulnerabilities</a>
                                  </li>
                                  <li class="menu-item">
                                      <a href="/#only-default-logs-on-this-server">Insufficient Logging and Monitoring</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </body>
</html>
