<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
        <title>
            Damn Vulnerable Flask App
        </title>
        <link href="https://spiderpig86.github.io/Cirrus/res/cirrus.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://raw.githack.com/alrusdi/jquery-plugin-query-object/9e5871fbb531c5e246aac2aaf056b237bc7cc0a6/jquery.query-object.js"></script>
        <body>
          <div class="header header-fixed unselectable header-animated">
              <div class="header-brand">
                  <div class="nav-item no-hover">
                      <a href="/"><h6 class="title">DVFA</h6></a>
                  </div>
              </div>
          </div>

          <div class="hero fullscreen">
              <div class="hero-body u-center">
                  <div class="w-90" style="position: relative">
                      <div class="row level">
                          <div class="frame col-6">
                        <div class="frame__header">
                            <div class="tile level">
                                <div class="tile__icon">
                                    <figure class="avatar">
                                        <img src="https://owasp.org/assets/images/logo.svg">
                                    </figure>
                                </div>
                                <div class="tile__container">
                                    <p class="tile__title no-margin">XML Reader</p>
                                    <p class="tile__subtitle no-margin">Upload an XML file to read its contents</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="frame__body col-6">
                            <form action="http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
                             <input type="file" name="file"/>
                             <p></p>
                             <input type="submit" value="upload" class="btn-primary"/>
                          </form>
                          <pre>{{ xml_content }}</pre>
                        </div>
                    </div>
                      </div>
                  </div>
              </div>
          </div>
          <script>
            $.get('http://127.0.0.1'); 
          </script>
      </body>
</html>
